<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="content">
            <div class="row">
                <div *ngIf="(product$ | async) as product" class="col-6 offset-3">
                    <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input required name="name" [(ngModel)]="product.name" type="text" class="form-control"
                                pattern=".{2,25}">
                            <div [hidden]="productForm.controls.name?.valid" class="error-message">
                                A név minimum 2 és maximum 25 karakterből állhat!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Type</label>
                            <input required name="type" [(ngModel)]="product.type" type="text" class="form-control"
                                pattern=".{2,25}">
                            <div [hidden]="productForm.controls.type?.valid" class="error-message">
                                A típus minimum 2 és maximum 25 karakterből állhat!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">catID</label>
                            <input required name="catID" [(ngModel)]="product.catID" type="number" class="form-control"
                                pattern="^[1-3]">
                            <div [hidden]="productForm.controls.catID?.valid" class="error-message">
                                A kategóriaID egyjegyű szám lehet 1,2 vagy 3!
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Description</label>
                            <input required name="description" [(ngModel)]="product.description" type="text"
                                class="form-control" pattern=".{10,50}">
                            <div [hidden]="productForm.controls.description?.valid" class="error-message">
                                A leírás minimum 10 és maximum 50 karakterből állhat!
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Price</label>
                            <input required name="price" [(ngModel)]="product.price" type="number" class="form-control"
                                pattern="[0-9]{1,8}">
                            <div [hidden]="productForm.controls.price?.valid" class="error-message">
                                Az ár szám típus!
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Featured</label>
                            <select required name="featured" [(ngModel)]="product.featured" class="form-control select"
                                pattern="(false|true)">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <div [hidden]="productForm.controls.featured?.valid" class="error-message">
                                A kiemelt true vagy false lehet csak!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Active</label>
                            <select required name="active" [(ngModel)]="product.active" class="form-control"
                                pattern="(false|true)">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <div [hidden]="productForm.controls.active?.valid" class="error-message">
                                Az active true vagy false lehet csak!
                            </div>
                        </div>


                        <button [disabled]="productForm.invalid || updating" type="submit" (click)="onShow()"
                            class="btn btn-primary btn-block btn-lg">
                            <i *ngIf="!updating" class="fa fa-save"></i>
                            <i *ngIf="updating" class="fa fa-refresh"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>