<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a routerLink="/" (click)="ujratolt()" class=" simple-text logo-normal">
            6-os csapat
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" routerLink="/" (click)="ujratolt()">
                    <i class=" material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/product">
                    <i class="material-icons">library_books</i>
                    <p>Termékek</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/customer">
                    <i class="material-icons">person</i>
                    <p>Vásárlók</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/order">
                    <i class="material-icons">library_books</i>
                    <p>Rendelések</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/bill">
                    <i class="material-icons">shopping_cart</i>
                    <p>Pénztár</p>
                </a>
            </li>
        </ul>
    </div>
</div>