<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="content">
            <div class="row">
                <div *ngIf="(bill$ | async) as bill" class="col-6 offset-3">
                    <form #billForm="ngForm" (ngSubmit)="onUpdate(billForm, bill)">
                        <!-- <div class="form-group">
                            <label for="id">id</label>
                            <input id="id" name="id" [(ngModel)]="bill.id" type="number" class="form-control"
                                pattern="[1-9]\d{0,9}" required>
                            <div [hidden]="billForm.controls.id?.valid" class="error-message">
                                Az id minimum 1 és maximum 10 számjegyből állhat!
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="orderID">OrderID</label>
                            <input id="orderID" name="orderID" [(ngModel)]="bill.orderID" type="number"
                                class="form-control" pattern="[1-9]\d{0,9}" required>
                            <div [hidden]="billForm.controls.orderID?.valid" class="error-message">
                                Az orderID minimum 1 és maximum 10 számjegyből állhat!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input id="amount" name="amount" [(ngModel)]="bill.amount" type="number"
                                class="form-control" pattern="[1-9]\d{0,9}" required>
                            <div [hidden]="billForm.controls.amount?.valid" class="error-message">
                                Az összeg minimum 1 és maximum 10 számjegyből állhat!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select id="status" name="status" [(ngModel)]="bill.status" class="form-control" required>
                                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                            </select>
                            <div [hidden]="billForm.controls.status?.valid" class="error-message">
                                A status csak a megadott értékeket veheti fel
                            </div>
                        </div>
                        <button [disabled]="billForm.invalid || updating" type="submit"
                            class="btn btn-danger btn-block btn-lg" (click)=showSuccess()>
                            <i *ngIf="!updating" class="fa fa-save"></i>
                            <i *ngIf="updating" class="fa fa-refresh"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>